<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/_mainLayout">

<div layout:fragment="content">
    <h1>Crear nuevo Producto</h1>
    <form th:action="@{/Productos/save}" th:object="${productoFJCO}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombreFJCO}" id="nombre" placeholder="Escriba el nombre del producto" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcionFJCO}" id="descripcion" cols="12" rows="3" placeholder="Escriba la descripción del producto" required></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" th:field="*{precioFJCO}" id="precio" placeholder="Escriba el precio del producto" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaVencimiento">Fecha de Vencimiento</label>
                    <input type="date" class="form-control" th:field="*{fechaVencimientoFJCO}" id="fechaVencimiento" placeholder="Escriba el estatus del producto" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estatus">Estatus</label>
                    <input type="text" class="form-control" th:field="*{estatusFJCO}" id="estatus" placeholder="Escriba el estatus del producto" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="existencia">Existencia</label>
                    <input type="number" class="form-control" th:field="*{existencia}" id="existencia" placeholder="Escriba la cantidad en existencia" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/Productos}">Regresar</a>
    </form>
</div>