<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar Producto</h1>
    <form th:action="@{/Productos/delete}" th:object="${producto}" method="post">
        <div class="alert alert-danger" role="alert">
            ¿Está seguro de que desea eliminar este producto?
        </div>
        <input type="hidden" name="Id" th:value="${producto.id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombreFJCO}" id="nombre" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcionFJCO}" id="descripcion" cols="12" rows="3" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" th:field="*{precioFJCO}" id="precio" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaVencimiento">Fecha de Vencimiento</label>
                    <input type="date" class="form-control" th:field="*{fechaVencimientoFJCO}" id="fechaVencimiento" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estatus">Estatus</label>
                    <input type="text" class="form-control" th:field="*{estatusFJCO}" id="estatus" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="existencia">Existencia</label>
                    <input type="number" class="form-control" th:field="*{existencia}" id="existencia" readonly>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-outline-danger">Eliminar</button> |
        <a th:href="@{/Productos}" class="btn btn-outline-secondary">Regresar</a>
    </form>
</div>